<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <h1>sadsad</h1>
  <div>
  </div>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta dicta dolore voluptatibus ut unde voluptates nemo facere, quas ducimus quo, cum architecto molestias commodi laboriosam beatae eaque nostrum nisi suscipit?</p>
<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>
</body>
</html>
